:root {
  --title-size: 22px;
  --question-size: 16px;
  --body-size: 16px;
}

#content {
  background: #ffffff;
}

#title {
  font-size: var(--title-size);
}

#question {
  font-size: var(--question-size);
}

#body {
  font-size: var(--body-size);
}


